/* --------------------------------------------------------
Style Sheet for LTalk

version: 1.0
last modified: 07.03.2015 by yesubc@gmail.com
author: Bhuwan Gautam
website: https://github.com/bhuwang/LTalk
----------------------------------------------------------*/
* {
  outline: none;
}

html, body {
  height: 100%;
}

body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
  outline: none;
  font: 400 14px "Roboto", sans-serif;
}

a {
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a a:hover, a a:focus {
  color: #59e494;
  text-decoration: underline;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar-track {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
}

.container {
  background: black url("../images/bg-img-1.jpg") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  position: relative;
}
.container.home {
  padding: 20px;
}
.container .main {
  position: relative;
  z-index: 2;
}

.div-block {
  background: rgba(0, 0, 0, 0.1) url("../images/pattern.png");
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.login-box {
  background: rgba(255, 255, 255, 0.1);
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  max-width: 280px;
  padding: 55px;
  position: fixed;
  top: 46%;
  left: 46%;
  z-index: 1;
  margin-top: -50px;
  margin-left: -50px;
  text-align: center;
  -webkit-appearance: translate(-50%, -50%);
  -moz-appearance: translate(-50%, -50%);
  appearance: translate(-50%, -50%);
}
.login-box img {
  margin-bottom: 50px;
}
.login-box .btn-login {
  background: #bdbec0;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 0 35px;
  line-height: 30px;
  text-align: center;
  color: #333;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
}
.login-box .btn-login:hover {
  background: #6cc067;
  color: white;
}

.main {
  width: 40%;
  margin: 0 auto;
}

.today-word {
  clear: both;
  margin: 100px auto;
  text-align: center;
  position: absolute;
}
.today-word h1 {
  color: #2ecc71;
  font-size: 60px;
}
.today-word p {
  font: 300 24px/35px "Roboto", sans-serif;
}
.today-word p span {
  font-size: 18px;
  line-height: normal;
}
.today-word blockquote {
  border-left: 0px solid #cccccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
.today-word blockquote:before {
  color: #cccccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.today-word blockquote p {
  display: inline;
  margin: 0;
  padding: 0;
}
.today-word blockquote p span {
  display: block;
  padding-top: 10px;
}

.notification {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 290px;
  padding-right: 10px;
  z-index: 2;
}
.notification .form-notify {
  font-size: 16px;
  margin-bottom: 15px;
  overflow: hidden;
}
.notification .form-notify .fa {
  float: left;
  font-size: 24px;
  color: #cccccc;
}
.notification .form-notify input {
  background: transparent;
  border: 0;
  float: right;
  font-size: 16px;
  padding-bottom: 5px;
  width: 90%;
  border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
}
.notification .form-notify input:hover, .notification .form-notify input:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
.notification .form-notify input:hover {
  border-bottom-color: rgba(255, 255, 255, 0.3);
}
.notification .form-notify input:focus {
  border-bottom-color: rgba(255, 255, 255, 0.7);
}
.notification .notice {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  max-height: 400px;
  color: #cccccc;
  width: 300px;
  padding-right: 10px;
}
.notification .notice:hover {
  overflow-y: auto;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.notification .notice li {
  clear: both;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 10px;
  overflow: hidden;
}
.notification .notice li:after {
  clear: both;
  display: block;
  overflow: hidden;
}
.notification .notice li .e-profile {
  width: 30px;
  height: 30px;
  float: right;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.sidebar {
  position: absolute;
  right: 20px;
  top: 35%;
  width: auto;
  z-index: 2;
}
.sidebar ul li {
  list-style: none;
  line-height: 45px;
  margin-bottom: 35px;
  font-size: 14px;
  position: relative;
}
.sidebar ul li a {
  color: rgba(255, 255, 255, 0.5);
}
.sidebar ul li .tip {
  background: rgba(0, 0, 0, 0.9);
  min-height: 70px;
  color: white;
  padding: 0 20px;
  position: absolute;
  display: none;
  opacity: 0;
  right: 110%;
  z-index: 100;
  width: 300px;
  top: -20%;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.sidebar ul li .tip:before {
  position: absolute;
  top: -50%;
  right: 98px;
  display: inline-block;
  border-left: 14px solid transparent;
  border-bottom: 14px solid rgba(0, 0, 0, 0.9);
  border-right: 14px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}
.sidebar ul li .tip:after {
  position: absolute;
  top: -50%;
  right: 99px;
  display: inline-block;
  border-left: 12px solid transparent;
  border-bottom: 12px solid rgba(0, 0, 0, 0.9);
  border-right: 12px solid transparent;
  content: '';
}
.sidebar ul li .tip.bubble:before {
  border-top: 14px solid transparent;
  border-left: 14px solid rgba(0, 0, 0, 0.9);
  border-bottom: 14px solid transparent;
  border-left-color: rgba(0, 0, 0, 0.2);
  right: -28px;
  top: 20px;
}
.sidebar ul li .tip.bubble:after {
  border-top: 12px solid transparent;
  border-left: 12px solid rgba(0, 0, 0, 0.9);
  border-bottom: 12px solid transparent;
  right: -24px;
  top: 22px;
}
.sidebar ul li:hover i {
  background: white;
  color: black;
}
.sidebar ul li:hover a {
  color: white;
}
.sidebar ul li:hover .bubble {
  display: block;
  visibility: visible;
  opacity: 1;
}
.sidebar ul li:hover .bubble .msg-info {
  padding: 10px 0;
}
.sidebar ul li:hover .bubble .msg-info .fa {
  font-size: 16px;
  width: 25px;
  height: 25px;
  line-height: 25px;
}
.sidebar ul li:hover .bubble .tab-content {
  min-height: 100px;
  height: 300px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.sidebar ul li:hover .bubble .tab-content:hover {
  overflow-y: scroll;
}
.sidebar ul li:hover .bubble .tab-content ul {
  margin: 0px;
  padding: 0;
}
.sidebar ul li:hover .bubble .tab-content ul li {
  margin: 5px 0;
  padding: 0;
  line-height: normal;
  font-size: 12px;
  color: #cccccc;
}
.sidebar ul li:hover .bubble .tab-content ul li ul {
  margin-left: 20px;
}
.sidebar ul li:hover .bubble .tab-content ul li ul li {
  list-style: disc;
  color: #777;
}
.sidebar ul li i {
  background: rgba(0, 0, 0, 0.5);
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  margin-right: 10px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.sidebar ul li a {
  text-decoration: none;
}

.sidebar .tip.bubble.birthday {
  background: #e64b3c;
}
.sidebar .tip.bubble.birthday .profile {
  border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
}
.sidebar .tip.bubble.birthday .profile:last-child {
  border-bottom: 0;
}
.sidebar .tip.bubble.birthday .profile img {
  border: 1px white solid;
}
.sidebar .tip.bubble.birthday .profile h2 span {
  color: white;
}
.sidebar .tip.bubble.birthday:after {
  border-left: 12px solid #e64b3c;
  color: white;
}

.sidebar .leave {
  margin: 0;
  padding: 0;
}
.sidebar .leave li {
  width: 100%;
  line-height: normal;
  margin: 0;
  padding: 10px 0;
  overflow: hidden;
  border-bottom: 1px rgba(255, 255, 255, 0.05) solid;
}
.sidebar .leave li:last-child {
  border-bottom: 0px;
}
.sidebar .leave li.profile {
  line-height: 50px;
}
.sidebar .leave li.profile img {
  float: left;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.sidebar .leave li.profile h2 {
  font-size: 14px;
  line-height: normal;
  margin: 0;
  padding: 10px 0;
}
.sidebar .leave li.profile h2 span {
  font-size: 10px;
  display: block;
  color: #999999;
  text-transform: uppercase;
}

.sidebar .tabs-menu {
  width: 100%;
  margin: 0;
  padding: 0;
}
.sidebar .tabs-menu li {
  list-style: none;
  float: left;
  width: 50%;
  font-size: 12px;
  padding: 15px 0;
  margin: 0;
  line-height: normal !important;
  border-bottom: 1px #666666 solid;
  text-transform: uppercase;
}
.sidebar .tabs-menu li.current {
  position: relative;
  z-index: 5;
  border-bottom: 1px #2ecc71 solid;
}
.sidebar .tabs-menu li.current a {
  color: #2ecc71;
}
.sidebar .tabs-menu li a {
  color: #2ecc71;
  font-size: 12px;
  margin-right: 20px;
  text-decoration: none;
}

.tab {
  width: 100%;
  margin-bottom: 15px;
}

.tab-content {
  display: block;
  width: 100%;
  clear: both;
  padding: 20px 0;
  display: none;
  font-size: 12px;
}
.tab-content p {
  line-height: normal;
}
.tab-content form {
  width: 100%;
}
.tab-content form input {
  border: 0;
  font-size: 20px;
  padding: 5px 0;
  background: transparent;
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
}
.tab-content form input:hover, .tab-content form input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}

#tab-1 {
  display: block;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  padding: 20px;
  overflow: hidden;
  text-align: center;
  color: white;
  width: 100%;
  text-shadow: 1px 1px 0px #000;
}
footer a {
  color: white;
}
footer ul {
  text-align: center;
  font-size: 60px;
}
footer ul li {
  display: inline-block;
  list-style: none;
  line-height: 40px;
}
footer ul li:nth-child(2) {
  padding-left: 200px;
}

.ft-logo {
  background: url("../images/logo-leapfrog.png");
  background-size: 100%;
  width: 110px;
  height: 30px;
  font-size: 0;
  text-indent: -9999px;
  display: inline-block;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

#datetime span {
  padding-top: 10px;
  font-size: 18px;
  display: block;
  text-transform: uppercase;
}
