<!doctype html>
<html data-ng-app="lms" data-ng-init="init()" data-ng-csp="">

<head>
    <meta charset="UTF-8">
    <title>LTalk Dashboard</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
</head>

<body ng-controller="Dashboard">
    <div class="container home">
        <div class="main today-word">
            <blockquote>
                <p>{{wordOfDay}}</p>
                <p><span>- {{author}}</span></p>
                @all Groups who have not send me names for team recreation fund today is the last day. I will not be processing for the budget release from tomorrow. you are requested to submit the invoices by 28th Asad 2072 after your team building.
            </blockquote>
        </div>
        <div class="notification">
            <form class="form-notify">
                <i class="fa fa-bell"></i>
                <input type="text" id="notification" placeholder="Notification" autocomplete="off">
            </form>
            <ul class="notice">
                <li>
                    <p>@all Groups who have not send me names for team recreation fund today is the last day. I will not be processing for the budget release from tomorrow. you are requested to submit the invoices by 28th Asad 2072 after your team building.
                    </p>
                </li>
                <li>
                    <p>Please send your team name and member list ASAP.
                    </p>
                </li>
                <li>
                    <p>@all Groups who have not send me names for team recreation fund today is the last day. I will not be processing for the budget release from tomorrow. you are requested to submit the invoices by 28th Asad 2072 after your team building.
                    </p>
                </li>
                <li>
                    <p>Please send your team name and member list ASAP.
                    </p>
                </li>
                <li>
                    <p>@all Groups who have not send me names for team recreation fund today is the last day. I will not be processing for the budget release from tomorrow. you are requested to submit the invoices by 28th Asad 2072 after your team building.
                    </p>
                </li>
                <li>
                    <p>Please send your team name and member list ASAP.
                    </p>
                </li>
            </ul>
        </div>

        <div class="sidebar">
            <ul>
                <li>
                    <a href="#"><i class="fa fa-eye"></i> Core Values</a>
                    <div class="tip bubble">
                        <ul class="tabs-menu">
                            <li class="current"><a href="#tab-1">Mission</a>
                            </li>
                            <li><a href="#tab-2">Core Values</a>
                            </li>
                        </ul>
                        <div class="tab">
                            <div id="tab-1" class="tab-content">
                                <p>Our vision is to build world class software and be a role model company in Nepal</p>
                                <ul>
                                    <li>Build world class software with uncompromising quality; constantly compare, benchmark and be open to learning from anyone, anywhere to continuously improve and innovate</li>
                                    <li>Cultivate a startup ecosystem to solve problems in Nepal; project the image of Build in Nepal; mentor and build other role models of world class engineers, entrepreneurs and leaders</li>
                                </ul>
                            </div>
                            <div id="tab-2" class="tab-content">
                                <ul>
                                    <li>Ownership
                                        <ul>
                                            <li>Customer happiness is the best outcome; go beyond the given responsibility to make them successful.</li>
                                            <li>Set examples for craftsmanship, innovation and operation standards</li>
                                            <li>Walk the talk, take responsibility for our actions</li>
                                        </ul>
                                    </li>
                                    <li>Integrity
                                        <ul>
                                            <li>Adhere to moral principles and ethics through behaviors and actions, no matter how difficult the situation.</li>
                                            <li>Lead and encourage open communication</li>
                                            <li>Good enough is unacceptable; always stretch to challenge the limits, realize full potential and deliver excellence. </li>
                                        </ul>
                                    </li>
                                    <li>Learning
                                        <ul>
                                            <li>Never settle, always be open to hear new ideas and challenge the status quo</li>
                                            <li>Take pride in teaching, mentoring and helping each other. </li>
                                            <li>Make mistakes, learn from them, and do not repeat them</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#"><i class="fa fa-birthday-cake"></i> Birthday</a>
                    <div class="tip bubble birthday">
                        <ul class="leave">
                            <li ng-repeat="emp in birthdays" class="profile">
                                <img src={{emp.avatarUrl}} alt={{emp.firstName}}>
                                <h2>
                                    {{emp.firstName + " "+ (emp.middleName?emp.middleName:'')+" "+emp.lastName}}
                                    <span>{{emp.department.name}} Department</span>
                                </h2>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#"><i class="fa fa-calendar"></i> Leave Today</a>
                    <div class="tip bubble">
                        <ul class="leave">

                            <li ng-repeat="employee in employees" class="profile">
                                <img src={{employee.avatarUrl}} alt={{employee.firstName}}>
                                <h2>
                                    {{employee.firstName + " "+ (employee.middleName?employee.middleName:'')+" "+employee.lastName}}
                                    <span>{{employee.department.name}} Department</span>
                                </h2>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <footer>
        <a href="#" class="ft-logo">LTalk</a>
            <ul>
                <li id="datetime">
                    {{ date.raw | date:'hh mm ss' }} {{ date.raw | date:'EEEE, MMMM yyyy' }}
                </li>
            </ul>
        </footer>
    </div>

    <div class="div-block"></div>
    <script src="./js/vendor/angular.min.js"></script>
    <script src="./js/vendor/angular-route.min.js"></script>
    <script src="./js/jquery-1.9.1.js"></script>
    <script src="./js/dashboard.js"></script>
    <script src="./js/custom.js"></script>
</body>

</html>